<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class="container">
   <h2>Welcome to SC6113 DAPP</h2> 
   <h5>Please enter your name: </h5>
   <form action="/transfermoney" method="post">
       
       <input type="submit" value="Transfer Money">
   </form>
   <form action="/" method="post">
       
       <input type="submit" value="exit">
   </form>
</div>
    
</body>



